.mesa {
    display: flex;
    align-items: flex-start;
    flex: 4; 
    position: relative; 
    padding: 10px;
    color: white;
}
  
.jugador-izquierda-arriba, .jugador-izquierda-abajo {
    position: absolute;
    left: 10px;
    width: 20px;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    white-space: nowrap;
}

.jugador-izquierda-arriba h2 {
    margin-left: -150px;
    margin-bottom: -130px;
}

.jugador-izquierda-abajo h2 {
    margin-left: -150px;
    margin-bottom: -130px;
}
  
.jugador-izquierda-arriba {
    top: 30px; 
    display: flex;
    align-items: center;
}
  
.jugador-izquierda-abajo {
    position: absolute;
    bottom: 60px; 
    display: flex;
    align-items: center;
}
    
.jugador-arriba {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.jugador-arriba h2 {
    margin-left: 80px;
    margin-top: 50px;
    margin-right: 40px;
    align-items: center;
}

.jugador-actual {
    position: absolute;
    bottom: 20px;
    left: 65%;
    display: flex;
}

  
.piramide {
    justify-content: left;
    margin: 30px 0 0 150px; 
    flex-direction: column;
    align-items: center;
    display: flex;
}

.row-1 {
    display: flex;
}

.row-2, .row-3, .row-4, .row-5 {
    display: flex;
    margin-top: -40px;
}

.card {
    margin: -10px; 
}

.mesa img{
    height: 80px;
}

.botones-desafio {
    margin-top: 120px;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    margin-left: -10px;
}

.botones-desafio button {
    margin: 10px;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
}

.botones-desafio button:hover {
    background-color: #0056b3; 
}

.fin-juego {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 1; 
    transition: opacity 1s ease;
}

.fin-juego h1 {
    color: aqua;
    font-size: 3em;
    margin-bottom: 20px;
}

.fin-juego button {
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.fin-juego.mostrar {
    opacity: 1; 
  }
