body, html {
    margin: 0;
    padding: 0px;
    height: 100%;
    width: 100%; 
    font-family: Arial, sans-serif;
}

.tablero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%; 
    width: 100vw; 
    overflow: hidden; 
}

.contenido {
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 100px); 
    flex: 1;
    background-color: green; 
}

.franja {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 20px;
    cursor: pointer;
}